@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: 'Roboto', sans-serif;
}

#title {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

#status-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

#credits {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: center;
    color: rgb(200, 200, 200);
}

#copy-outfit-btn {
    width: 200px;
    height: 50px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(40, 40, 40);
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    transition-duration: 0.2s;
}

#copy-outfit-btn:hover {
    background-color: rgb(60, 60, 60);
}